body {
    font-family: Candara;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgb(162, 222, 230);
}

em {
    font-style: italic;
}

nav {
    font-size: 25px;
    color: cornflowerblue;
    -webkit-text-stroke: 0.5px salmon;
}

li {
    font-size: 20px;
}

h1 {
    font-size: 100px;
    color: white;
    font-family: 'papyrus';
    -webkit-text-stroke: 1px salmon;
    text-align: center;
}

.stackedcrochetpics {
    display: flex;
    flex-direction: column;
}

.hobbiespics {
    display: flex;
}

.hobbycontainer img,
.hobbycontainer figcaption {
    margin-left: 30px;
}

.interestspics {
    display: flex;
}

.interestspics img,
.interestscontainer figcaption {
    margin-left: 30px;
}

figcaption {
    font-size: small;
}

.flex-parent1 {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 30px;
    color: salmon;
    font-family: 'papyrus';
    -webkit-text-stroke: 0.65px cornflowerblue;
}

article p::first-letter {
    color: bisque;
    font-size: 40px;
}

article {
    padding-left: 75px;
}

p {
    font-size: 18px;
    color: midnightblue;
    margin-right: 75px;
}

ul {
    font-size: 18px;
    color: midnightblue;
    list-style-type: none;
    margin-left: 38px;
}

ul li:before {
    content: '~ ';
    font-size: 18px;
}

ul li {
    font-size: 22px;
}

.imagescontainer {
    display: flex;
    flex-wrap: nowrap;
}

.imagescontainer img {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.flex-parent2 {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.aboutmepic {
    height: 500px;
    width: auto;
    border: 10px inset salmon;
}

.flex-parent3 {
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: 18px;
    color: midnightblue;
}

.aboutalaskapic1 {
    border: 5px groove black;
}

.aboutalaskapiccontainer {
    display: flex;
    justify-content: left;
}

.aboutalaskapic2 {
    height: auto;
    width: 600px;
    border: 10px inset brown;
}

footer {
    font-family: Candara;
}

.contactinfocontainer {
    display: flex;
}

.contactinfo {
    margin-left: 25px
}

footer a {
    color: midnightblue;
}

footer a:hover {
    color: salmon;
}

footer h3 {
    font-family: papyrus;
    color: salmon;
    -webkit-text-stroke: 0.5px cornflowerblue;
}

.grid-container-element {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 400px;
    width: 600px;
    margin-left: 25px;
    grid-gap: none;
    border: none;

}

.grid-child-element-1 .grid-child-element-2 .grid-child-element-3 {
    height: 400px;
    width: 200px;
    margin: none;
    border: none;
}

.grid-child-element-2 {
    align-items: center;
    margin: none;
    gap: none;

}